<div class="pds-quote pds-quote--{{ background_color|default("white") }}">
  <div class="pds-quote__inner">
    <img class="pds-quote__bolt pds-quote__bolt--left" src="{{ image_dir }}/icon-quote-yellow.svg" alt>
    <figure>
      <blockquote class="pds-quote__text">
        {{ quote_text }}
      </blockquote>
      <figcaption class="pds-quote__attribution">
        {{ quote_attribution }}
      </figcaption>
    </figure>
    <img class="pds-quote__bolt pds-quote__bolt--right" src="{{ image_dir }}/icon-quote-yellow.svg" alt>
  </div>
</div>
