<button id="modalBtn--{{ modal_num }}" class="{{ open_classes }}">{{ open_txt }}</button>

<div id="modal--{{ modal_num }}" class="modal">
  <div class="modal__content modal__content--{{ bg_color|default("white") }}" 
  tabindex="-1" role="dialog" aria-modal="true">
    
    {% include '@pds/close-button/close-button.twig' with {
      color: (bg_color == "white") ? "black" : "white",
    } %}
  
    {% block modal_content %}
      {{ content }}
    {% endblock %}

  </div>
</div>
