{% set panels = '' %}
<div class="pds-tabset">
  <div class="pds-tabset__tabs" role="tablist" aria-label="{{ title }}">
    {% for tab in tabs %}
      {% set isTabSelected = (loop.first) ? true : false %}
      {% set tabTabIndex = (isTabSelected) ? '' : 'tabindex="-1"' %}
      {% set tabId = 'pds-tabset__tab--' ~ tab.id %}
      {% set panel = '' %}
      {% set panelId = 'pds-tabset__panel--' ~ tab.id %}
      {% set panelVisibility = (isTabSelected) ? '' : 'hidden="hidden"' %}
      
      <button id="{{ tabId }}" {% if tab.disabled -%} disabled {% endif -%} class="pds-tabset__tab" role="tab" aria-selected="{{ isTabSelected }}" aria-controls="{{ panelId }}" {{ tabTabIndex }}>
        <div class="pds-tabset__tab-title">
          {{ tab.title }}
        </div>
      </button>
      {% set panel %}
        <div id="{{ panelId }}" class="pds-tabset__panel" role="tabpanel" aria-labelledby="{{ tabId }}" tabindex="0" {{ panelVisibility }}>
        {{ tab.content }}
        </div>
      {% endset %}
      {% set panels = panels ~ panel %}
    {% endfor %}
  </div>
  {{ panels }}
</div>
